{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/sanitize.css" />
    <link rel="stylesheet" href="static/css/memo.css" />
</head>
<body>
    <header>
        <!-- ヘッダー2カラム -->
        <div class="header2c">
            <div class="header2c1">
                <p>.header2c1</p>
            </div>
            <div class="header2c2">
                <p>.header2c2</p>
            </div>
        </div>
    
        <!-- ヘッダー3カラム -->
        <div class="header3c">
            <div class="header3c1">
                <p>.header3c1</p>
            </div>
            <div class="header3c2">
                <p>.header3c2</p>
            </div>
            <div class="header3c2">
                <p>.header3c2</p>
            </div>
        </div>
    </header>

    <main>
        <h1>Hello World!!</h1>
        <section>
            <p><a href="javascript:history.back()">戻る</a></p>
        </section>
        <!-- {% block content %}
        {% endblock %} -->
    </main>

    <footer>
        <p>&copy; footer. 2022.</p> 
    </footer>
</body>
</html>